{% extends 'base.html.twig' %}

{% block title %}Les commentaires
{% endblock %}

{% block body %}

	 <div class="container mt-5">
        <h3 class="text-center">Commentaires laissés :</h3>
        <div class="row justify-content-center">
            <div class="col-10">
                {% for comment in comment %}
                    {% if comment.approved %}
                        <div class="card m-4 bg-success event-card">
                            <div class="card-body">
                                <h5 class="card-text">Photo : {{ comment.annonce }}</h5>
                                <p class="card-title">De : {{ comment.lastName }}</p>
                                <p class="card-text">{{ comment.content }}</p>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6">
                <button type="button" class="btn btn-warning col-12 mb-2">
                    <a class="nav-link" href="{{ path('mer') }}">Naviguer vers la page mer</a>
                </button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-warning col-12 mb-2">
                    <a class="nav-link" href="{{ path('montagne') }}">Gravir la page montagne</a>
                </button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-warning col-12 mb-2">
                    <a class="nav-link" href="{{ path('foret') }}">Se balader sur la page forêt</a>
                </button>
            </div>
            <div class="col-6">
                <button type="button" class="btn btn-warning col-12 mb-2">
                    <a class="nav-link" href="{{ path('home') }}">Retour vers la page d'accueil</a>
                </button>
            </div>
        </div>
    </div>

{% endblock %}

